<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/1f2c2160df.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#"><img src="../static/logo.png" alt="Company Logo"></a></div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Bodyguard</a></li>
            </ul>
        </div>
    </nav>
    <div class="form-container">
        <div class="date-input-container">
            <label for="date-input" class="date-label">Day</label>
            <input type="text" id="date-input" class="date-input" placeholder="mm/dd/yy">
            <i class="calendar-icon">&#x1F4C5;</i>
        </div>
        <div class="time-input-container">
            <label for="time-in" class="time-label">Time In</label>
            <input type="text" id="time-in" class="time-input" placeholder="00:00:00">
            <i class="clock-icon">&#x1F551;</i>
        </div>
        <div class="time-input-container">
            <label for="time-out" class="time-label">Time Out</label>
            <input type="text" id="time-out" class="time-input" placeholder="00:00:00">
            <i class="clock-icon">&#x1F551;</i>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <div class="footer-content_left">
                <a href="#">Legal</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms and Conditions</a>
                <a href="#">About Us</a>
            </div>
            <div class="footer-content_right">
                <a href="#">Navigation</a>
                <a href="#">Home</a>
                <a href="#">Our services</a>
                <a href="#">Our human</a>
                <a href="#">Contact Us</a>
            </div>
            <div class="footer-content_center">
                <div class="footer-content_center--image"><img src="../static/logo.png" alt="Eagle Logo"></div>
                <div class="footer-content_center--logos">
                    <span><i class="fa-brands fa-twitter"></i></span>
                    <span><i class="fa-brands fa-instagram"></i></span>
                    <span><i class="fa-brands fa-linkedin-in"></i></span>
                </div>
                <div class="footer-content_center--seperator">
                    <div></div>
                </div>
            </div>
        </div> 
    </footer>
</body>
</html>
