html{
  font-family:Helvetica, sans-serif;
}
body{
    margin-left:0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#bodyguard-section{
    display: flex;
}
.bodyguard-content{
  flex-grow: 1;
  position: relative;
} 
/*Bodyguard actions sidebar*/
.bodyguard-sidebar{
    border: solid 1px lightgray;
}

.bodyguard-sidebar_options a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*Footer*/
footer{
  background-color: #1c1b1b;
}
.footer-content {
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.footer-content_right, .footer-content_left{
  display: flex;
  flex-direction: column;
}
.footer-content a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-content_center{
  position: absolute;
}

.footer-content_center--logos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-content_center--logos i{
  color:white;
}
.footer-content_center--seperator div{
  width: 1px;
  background-color: lightgrey;
}

@media (min-width: 1007px) {
  /*Sidebar*/
  .bodyguard-sidebar{
      width: 250px;
      height: 100vh;
  }
  .bodyguard-sidebar_options__option{
    width: 150px;
    margin: 40px auto;
  }
  .bodyguard-sidebar_options__icons i{
    padding-right: 10px;
    width: 16px;
  }

  /*Footer*/
  footer{
    font-size: 15px;
    padding-top: 30px;
  }
  .footer-content {
    width: 700px;
    padding-top: 120px; 
    padding-bottom: 40px;
    position: relative;
  }
  .footer-content a{
    margin-bottom: 10px;
  }
  .footer-content_center{
    position: absolute;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /* left: 290px; */
    margin-top: -120px;
  }
  .footer-content_center--image img{
    width: 120px;
  }
  .footer-content_center--image{
    margin-bottom: 20px;
  }
  .footer-content_center--logos i{
    font-size: 20px;
  }
  .footer-content_center--seperator div{
    height: 55px;
    width: 1px;
    margin: 30px auto 0  auto;
  }
}

@media  (max-width: 1007px) {
  /*Sidebar*/
  .bodyguard-sidebar{
      width: 156px;
      height: 100vh;
  }
  .bodyguard-sidebar_options__text{
    font-size: 11px;
    margin-left:5px;
  }
  .bodyguard-sidebar_options__option{
    width: 100px;
    margin: 20px auto;
  }
  .bodyguard-sidebar_options__icons i{
    padding-right: 6px;
    width: 10px;
  }
  /*Footer*/
  footer{
    font-size: 9px;
    padding-top: 19px;
  }
  .footer-content {
    width: 437px;
    padding-top: 75px; 
    padding-bottom: 25px;
  }
  .footer-content a{
    margin-bottom: 6px;
  }
  .footer-content_center{
    left: 181px;
    margin-top: -75px;
  }
  .footer-content_center--image img{
    width: 75px;
  }
  .footer-content_center--image{
    margin-bottom: 12px;
  }
  .footer-content_center--logos i{
    font-size: 12px;
  }
  .footer-content_center--seperator div{
    height: 34px;
    width: 1px;
    margin: 19px auto 0  auto;
  }
}

@media (max-width:900px){
  .bodyguard-sidebar_options__text{
    display: none;
  }
  .bodyguard-sidebar{
      width: 50px;
  }
  .bodyguard-sidebar_options__option{
      width: fit-content;
      margin: 20px auto;
  }
}

@media(max-width:640px){
  /*Side bar*/
  .bodyguard-sidebar{
    height: 100vh;
  }
  .bodyguard-sidebar_options__text{
    display: none;
  }
  .bodyguard-sidebar{
    width: 40px;
  }
  .bodyguard-sidebar_options__option{
    width: 40px;
    margin: 20px auto;
    text-align: center;
  }
  /*Footer*/
  footer{
    font-size: 10px;
    padding-top: 15px;
  }
  .footer-content {
    width: 100%;
    padding-top: 50px; 
    padding-bottom: 15px;
  }
  .footer-content a{
    margin-bottom: 3px;
  }
  .footer-content_center{
    width: 60px;
    margin-top: -55px;
  }
  .footer-content_center--image img{
    width: 60px;
  }
  .footer-content_center--image{
    margin-bottom: 8px;
  }
  .footer-content_center--logos i{
    font-size: 15px;
  }
  .footer-content_center--seperator div{
    height: 34px;
    width: 1px;
    margin: 14px auto 0  auto;
  }
}
  /*Footer*/