@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .border-gradient {
      border: 1px solid;
      border-image-slice: 1;
      border-width: 1px;
      border-image-source: linear-gradient(to right, #E6F90B, #F31982);
      border-radius: 6px;
    }

    .text-gradient {
        background: linear-gradient(to bottom, #E6F90B, #F31982);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
  }