<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bodyguard/css/style.css">
    <link rel="stylesheet" href="/bodyguard/css/SC_30.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/1f2c2160df.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <section id="bodyguard-section">
        <div class="bodyguard-sidebar">
            <div class="bodyguard-sidebar_options">
                <div class = "bodyguard-sidebar_options__option"><a href="#"><span class="bodyguard-sidebar_options__icons"><i class="fa-regular fa-calendar-days"></i></span><span class="bodyguard-sidebar_options__text">Calendar</span></a></div>
                <div class = "bodyguard-sidebar_options__option"><a href="#"><span class="bodyguard-sidebar_options__icons"><i class="fa-regular fa-clock"></i></span><span class="bodyguard-sidebar_options__text">Timekeeping</span></a></div>
                <div class = "bodyguard-sidebar_options__option"><a href="#"><span class="bodyguard-sidebar_options__icons"><i class="fa-solid fa-user"></i></span><span class="bodyguard-sidebar_options__text">Personal Info</span></a></div>
                <div class = "bodyguard-sidebar_options__option"><a href="#"><span class="bodyguard-sidebar_options__icons"><i class="fa-solid fa-paperclip"></i></span><span class="bodyguard-sidebar_options__text">Contact</span></a></div>
            </div>
        </div>
        <div class="bodyguard-content">
            <table class="bodyguard-section_table">
                <tr id="table_titles">
                    <th>Day</th>
                    <th>Time</th>
                    <th>Venue</th>
                </tr>
                <tr>
                    <td>02/02/2024</td>
                    <td>10:00 - 18:00</td>
                    <td>Trung tâm hội nghị XYZ</td>
                </tr>
                <tr>
                    <td>01/02/2024</td>
                    <td>8:00 - 16:00</td>
                    <td>Khách sạn ABC</td>
                </tr>
                <tr>
                    <td>02/02/2024</td>
                    <td>10:00 - 18:00</td>
                    <td>Trung tâm hội nghị XYZ</td>
                </tr>
            </table>
        </div>
    </section>
    
    <footer>
        <div class="footer-content">
            <div class="footer-content_center">
                <div class="footer-content_center--image"><img src="/bodyguard/img/eagle.png" alt=""></div>
                <div class="footer-content_center--logos">
                    <span><i class="fa-brands fa-twitter"></i></span>
                    <span><i class="fa-brands fa-instagram"></i></span>
                    <span><i class="fa-brands fa-linkedin-in"></i></span>
                </div>
                <div class="footer-content_center--seperator">
                    <div></div>
                </div>
            </div>
            <div class="footer-content_left">
                <a href="">Legal</a>
                <a href="">Privacy Policy</a>
                <a href="">Terms and Conditions</a>
                <a href="">About Us</a>
            </div>
            <div class="footer-content_right">
                <a href="">Navigation</a>
                <a href="">Home</a>
                <a href="">Our services</a>
                <a href="">Our human</a>
                <a href="">Contact Us</a>
            </div>
        </div> 
    </footer>
</body>
</html>